# Ignorar todos os PDFs, arquivos do Word e de texto
*.pdf
*.docx
*.doc
*.txt
*.gsheet
*.gitattributes

# Ignorar pastas específicas inteiras (ex: pasta de relatórios ou livros)
Documents/
livros/
/sem1/CPW/AP1
/sem1/CPW/AP2
/sem1/IAI/AP1
/sem1/IAI/AP2
/sem1/II/
/sem1/PDA/AP1
/sem1/PDA/AP2

# Ignorar arquivos temporários do sistema ou da sua IDE
.DS_Store
Thumbs.db
.vscode/
.idea/