# Ignorar todos os PDFs, arquivos do Word e de texto
*.pdf
*.docx
*.doc
*.txt
*.gsheet
*.gdoc

# Ignorar pastas específicas inteiras (ex: pasta de relatórios ou livros)
Documents/
livros/
sem1/CPW/AD1/help

# Ignorar arquivos temporários do sistema ou da sua IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
