
/*adicionar cometários por boas práticas*/
body{
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px 8%;
  background-color: #E6F0B5;
  color: #E53646;
  font-size: 16px;
  font-family: "Stoke", serif, Lucida Bright, liberation;
  box-sizing: border-box;
}

header{
  display: block;
  margin-bottom: 1px;
  overflow: auto;
}

nav{
  display: block; 
  width: 20%; 
  float: left;
   
}

/*pega só a lista da nav*/
nav ul{
  color: #E53646;
  line-height: 230%;
  margin-top: 40px;
}

section { 
  display: block; 
  width: 70%; 
  float: right; 
}

a{
  color: #D53646;
  text-decoration: none;
}

/*cor do limk visitado*/
a:visited{ 
  color: #D53636;
}

ol, ul{
  line-height: 200%;
  list-style-type: square;
}

/*linha de endereço*/
.ender{
  float: right;
  text-align: right;
  line-height: 140%;
  font-size: 14px;
  font-family: "Karla", verdana, ubuntu, sans-serif;
  font-style: italic;
}

/*logotipo*/
.imgLogo{
  border-bottom: 4px solid #E53646;
  margin-bottom: 6px;
  padding-bottom: 5px;
  width: 420px;
  max-width: 65%;
  height: auto;
}

/*conteudo princial*/
.apres{
  display: center;
  font-size: 16px;
  margin-top: 40px;
}