/*HTML principal*/
body{
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px 8%;
  background-color: #E6F0B5;
  color: #E53646;
  font-size: 16px;
  font-family: "Stoke", serif, Lucida Bright, liberation;
  box-sizing: border-box;
}

header{
  display: block;
  margin-bottom: 1px;
  overflow: auto;
}

nav{
  display: block; 
  width: 20%; 
  float: left;
   
}

/*pega só a lista da nav*/
nav ul{
  color: #E53646;
  line-height: 230%;
  margin-top: 40px;
}

section { 
  display: block; 
  width: 70%; 
  float: right; 
}

a{
  color: #D53646;
  text-decoration: none;
}

/*cor do limk visitado*/
a:visited{ 
  color: #D53636;
}

ol, ul{
  line-height: 200%;
  list-style-type: square;
}

/*linha de endereço*/
.ender{
  float: right;
  text-align: right;
  line-height: 140%;
  font-size: 14px;
  font-family: "Karla", verdana, ubuntu, sans-serif;
  font-style: italic;
}

/*logotipo*/
.imgLogo{
  border-bottom: 4px solid #E53646;
  margin-bottom: 6px;
  padding-bottom: 5px;
  width: 420px;
  max-width: 65%;
  height: auto;
}

/*conteudo princial*/
.apres{
  text-align: center;
  font-size: 16px;
  margin-top: 40px;
}

/*Doremi (Camas)*/
.titulo{
  text-align: center;
}

.listaCama{
  width: 350px;
  color: #000066;
  background-color: #FFFFBB;
  font-size: 12px;
  padding: 10px 10px 10px 30px;
  border: 3px solid #226699;
  list-style-type: square;
  margin: 0 auto 10px auto;
}

.preco{
  color:#CC0000;
}

.listaCama ol{
  color: #000066;
  list-style-type: lower-roman;
}

/*Solfa (Sofas)*/

.tabSofa{
  border-collapse: collapse;
  font-size: 12px;
  color: #000066;
  background-color:#FFFFBB;
  margin: 5px auto 15px auto;
  font-family: Stoke, "Lucida Bright", liberation, serif;
}

.imgSofa{
  width: 100px;
  height: 62px;
}

.tabSofa th, td{
  border: 3px solid #226699;
  padding: 6px 12px 6px 12px;
  height: 30px;
}

.tabSofa .titulo{
  color: #FFFFFF;
  background-color:#228855;
  font-size: 14px;
  text-align: center;
}

.linTH{
  color: #FFFFFF;
  background-color:#22AA55;
  text-align: center;
  vertical-align: middle;
}

.colTH{
  color: #FFFFFF;
  background-color:#2299DD;
  text-align: left;
}

/*Encomendas*/

.FormBox{
  width: 520px;
  padding: 6px 6px 15px 6px;
  text-align: center;
  color: #000066;
  background-color: #FFFFBB;
  border: 3px solid #226699;
  font-size: 12px;
  font-family: Stoke, "Lucida Bright", liberation, serif;
  Margin: 20px auto 20px auto;
}

/*posicionamento e tamanho dos fielsets*/
.FSLinhaInteira{
  width: 490px;
  text-align: left;
}

.FSColEsq{
  width: 210px;
  float: left;
}

.FSColDir{
  width: 210px;
  text-align: center;
  float: right;
}

/*posicionamento e tamanho de boxes internas dos fieldsets*/
.LinhaForm{
  margin: 0px;
  height: 30px;
  padding: 6px 3px 0px 3px;
}

.ColEsq{
  width: 180px;
  float: left;
  display: block;
}

.ColDir{
  width: 180px;
  float: right;
  display: block;
}

.LabBox{
  width: 80px;
  float: left;
  display: block;
}

.botoes{
  text-align:right;
  margin: 20px 10px 0px 10px;
}

/*tamanho de elementos de entrada de valores*/
.InpBoxGnd{
  width: 384px;
  float: right;
  display: block;
}

.InpBoxMed{
  width: 80px;
  float: right;
  display: block;
}

.numDD{
  width: 35px;
}

.numQD{
  width: 50px;
}

/*Identificadores da página de encomendas*/
#loginCad{
  width: 260px;
}

#idEmail{
  width: 160px;
}

#senhaCad{
  width: 180px;
}

#lisSelProd{
  width:370px;
}

#selProduto{
  width: 75%;
}

#btnIncluir{
  width: 70px;
}

#boxPedidos{
  height: 100px;
}

#lisPedArea{
  width: 100%;
  height: 90%;
}

#fsBandeira{
  height: 80px;
  width: 70px;
  text-align: left;
}

#numCartao{
  width: 350px;
  height: 35px;
  padding-top: 10px;
}

#valCartao{
  width: 230px;
  height: 35px;
}

#boxParcel{
  width: 230px;
  height: 30px;
}

/*Identificadores da página de cadastro*/

#linhaEnder{
  height: 50px;
}

#inpEnder{
  width: 394px;
  height: 80px;
  margin-bottom:10px;
}

/*acrescentei para alinhar as caixas*/
#sexo{
  text-align: left;
  display: flex;
  justify-content: space-around;
}

#nasc{
  display: flex;
  justify-content: space-around;
}